{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exam</title>
</head>
<body>
    <p>My name is Hailey Normandia and I am a Fiscal Affairs Manager at the University of Georgia. I have worked at UGA for 8 years. I currently supervise a team of 6 accountin professionals and I serve as the chair of UGA's Reporting Liaisons Committee.</p>
    <p>My husband's name is Tyler and our daughter's name is Daphne. Daphne will be turing 3 years old in November. She keeps us smiling, tired, and happy all day long.</p>
    <p>We enjoy spending time with our family, hanging out with friends, and exploring Georgia. Of course we are UGA fans, but we are most loyal to the Georgia Southern Eagles. Hail Southern!</p>
</body>
</html>
{% endblock %}