<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exam</title>
</head>
<body>

    <h1>Exam</h1>
    <br>
    <form action="{{ url_for('exam') }}" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="age">Age:</label>
        <input type="number" name="age" id="age">
        <br>
    </form>
    <br>
    <p>Paragraph 1: [My name is Hailey Normandia and I am a Fiscal Affairs Manager at the University of Georgia.]</p>
    <p>Paragraph 2: [My husband's name is Tyler and our daughter's name is Daphne.]</p>
    <p>Paragraph 3: [We enjoy spending time with our family, hanging out with friends, and exploring Georgia.]</p>
{% endblock %}:</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="age">Age:</label>
        <input type="number" name="age" id="age">
        <br>

</body>
</html>